<div id="<%= dom_id endereco_empresa %>">
  <p>
    <strong>Rua:</strong>
    <%= endereco_empresa.rua %>
  </p>

  <p>
    <strong>Num:</strong>
    <%= endereco_empresa.num %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= endereco_empresa.bairro %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= endereco_empresa.cidade %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= endereco_empresa.estado %>
  </p>

  <p>
    <strong>Empresa:</strong>
    <%= endereco_empresa.empresa_id %>
  </p>

</div>
