<div id="<%= dom_id endereco_funcionario %>">
  <p>
    <strong>Rua:</strong>
    <%= endereco_funcionario.rua %>
  </p>

  <p>
    <strong>Num:</strong>
    <%= endereco_funcionario.num %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= endereco_funcionario.bairro %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= endereco_funcionario.cidade %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= endereco_funcionario.estado %>
  </p>

  <p>
    <strong>Funcionario:</strong>
    <%= endereco_funcionario.funcionario_id %>
  </p>

</div>
