<div id="<%= dom_id empresa %>">
  <p>
    <strong>Nome:</strong>
    <%= empresa.nome %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= empresa.cnpj %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= empresa.email %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= empresa.tel %>
  </p>

  <p>
    <strong>Rua:</strong>
    <%= empresa.endereco_empresa.rua %>
  </p>

</div>